# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.history
dist
public_nuxt
# Node dependencies
node_modules
sync-backend
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
